**Vinay Nagaraj - Week 11 & 12 Assignment**

In [1]:
# Import necessary libraries
import pandas as pd
import sqlite3

**Activity 11: Retrieving Data Correctly from Databases**

In [2]:
# Connect to petsdb

conn = sqlite3.connect("petsdb")

In [3]:
# Check if connection was successful

def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [4]:
print(is_opened(conn))

True

In [5]:
# Create cursor

c = conn.cursor()

# Find different age group in the persons table

for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people at the age of {}".format(ppl, age))

We have 2 people at the age of 5
We have 1 people at the age of 6
We have 1 people at the age of 7
We have 3 people at the age of 8
We have 1 people at the age of 9
We have 2 people at the age of 11
We have 3 people at the age of 12
We have 1 people at the age of 13
We have 4 people at the age of 14
We have 2 people at the age of 16
We have 2 people at the age of 17
We have 3 people at the age of 18
We have 1 people at the age of 19
We have 3 people at the age of 22
We have 2 people at the age of 23
We have 3 people at the age of 24
We have 2 people at the age of 25
We have 1 people at the age of 27
We have 1 people at the age of 30
We have 3 people at the age of 31
We have 1 people at the age of 32
We have 1 people at the age of 33
We have 2 people at the age of 34
We have 3 people at the age of 35
We have 3 people at the age of 36
We have 1 people at the age of 37
We have 2 people at the age of 39
We have 1 people at the age of 40
We have 1 people at the age of 42
We have 2 people at the age of 44
We have 2 people at the age of 48
We have 1 people at the age of 49
We have 1 people at the age of 50
We have 2 people at the age of 51
We have 2 people at the age of 52
We have 2 people at the age of 53
We have 2 people at the age of 54
We have 1 people at the age of 58
We have 1 people at the age of 59
We have 1 people at the age of 60
We have 1 people at the age of 61
We have 2 people at the age of 62
We have 1 people at the age of 63
We have 2 people at the age of 65
We have 2 people at the age of 66
We have 1 people at the age of 67
We have 3 people at the age of 68
We have 1 people at the age of 69
We have 1 people at the age of 70
We have 4 people at the age of 71
We have 1 people at the age of 72
We have 5 people at the age of 73
We have 3 people at the age of 74

In [6]:
# Find age group which has the maximum number of people

for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("{} is the age group which has the highest number of people {}".format(age, ppl))
    break

73 is the age group which has the highest number of people 5

In [7]:
# Find the people who do not have a last name

res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)

(60,)

In [8]:
# Find out how many people has more than 1 pet.

res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People has more than one pets".format(row[0]))

43 People has more than one pets

In [9]:
# Find out how many pets have received treatment

res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

In [10]:
# Find out how many pets have received treatment and the type of pet is known

res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)

(16,)

In [11]:
# Find out how many pets are from the city called east port.

res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)

(49,)

In [12]:
# Find out how many pets are from the city called east port and who received a treatment

res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)